{% extends "news/components/base.html" %}
{% block content %}

<div class="row mx-5 row-v1">
  <div class="col-lg-6 col-md-12 info-box">
    <h1 class="headline"> {{ object.name }} </h1>
  </div>
  <div class="col-lg-6 col-md-12 info-box">
    <address class="card-text">
      {% if object.addressLine1 %}
        {{ object.addressLine1 }}
        <br>
      {% endif %}
      {% if object.addressLine2 %}
        {{ object.addressLine2 }}
        <br>
      {% endif %}
      {% if object.addressLine3 %}
        {{ object.addressLine3 }}
        <br>
      {% endif %}
      {% if object.city %}
      {{ object.city }},
      {% endif %}
      {{ object.state }}
      {{ object.zip }}
    </address>
    <a href="{{object.webSite}}">{{ object.name }}'s website</a>
    <br>
    <br>
    <a class="btn btn-outline-dark" href="{% url 'shelters-list' %}">View All</a>
  </div>
</div>
</div>
{% endblock content %}
