{% extends "news/components/base.html" %}
{% block content %}
<h1>News Reel</h1>

{% if user.is_authenticated and user.profile.shelter %}
<a class="btn btn-success" href="#" role="button">New Post</a>
{% endif %}

{% for object in object_list %}
<div class="col-sm-4">
    <div class="card mt-4">
        <h4 class="card-title">{{ object.title }}</h4>
        <h6 class="card-title">{{ object.date_created}}</h6> 
        <div class="card-body">
            {% if object.author %}
            <div class="card-text">
                <span>
                    {{ object.author }}
                </span>
            </div>
            {% endif %}
            <a href="{{ object.get_absolute_url }}" class="btn btn-primary">View Details</a>
            {% if object.animal %}
            <img src="" alt="animal" height="200px" width="200px">
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}