{% extends "news/components/base.html" %}
{% block content %}

{% if animal %}

<div class="row mx-5">
  <h1 class="headline"> Details for {{ animal.name }} </h1>
  <br>
  {% for disposition in animal.disposition.all %}
  <div class="col-lg-3 col-md-2">
    <span class="badge bg-info text-dark">  {{ disposition }}  </span>
    <br>
  </div>
  {% endfor %}
</div>
<div class="row m-5 row-v1">
  <br>
  <div class="col-lg-6 info-box">
    <h5> {{ animal.species }}, {{ animal.age }} years</h5>
    <br>
    <p> Location: {{ animal.shelter }} </p>
    <br>
    <p> Status: {{ animal.availability }} </p>
    {% if animal.breed %}
    <br>
    <p> Breed: {{ animal.breed }} </p>
    {% endif %}
    <br>
    <p> Size: {{ animal.size }} </p>
    <br>
    <p> This animal has been viewed {{ animal.views }} times!</p>
    <br>
    <a class="btn btn-outline-dark" href="{% url 'animals-list' %}">View All</a>
    {% if user.profile.shelter == object.shelter %}
      <a class="btn btn-warning mt-2 mb-2" href="{% url 'animal-update' object.id %}" role="button">Edit Animal</a>
      <a class="btn btn-danger mt-2 mb-2" href="{% url 'animal-delete' object.id %}" role="button">Delete Animal</a>
    {% endif %}
  </div>
  <div class="col info-box">
    <div class="ratio ratio-1x1">
      {% if animal %}
      <img class="img-fluid" style="object-fit: cover" src="{{ animal.image.url }}" alt="animal">
      {% endif %}
      <br>
    </div>
  </div>
</div>
{% else %}
 <h2> No animal with that ID was found </h2>
{% endif %} 

{% endblock content %}