{% extends "news/components/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="content-section mx-5 sm-page">
    <h1>Sign Up</h1>
    <div class="row">
        <div class="col-lg-6 col-md-8">
            <form method="POST" class="m-5">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Today</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-lg btn-dark" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
        <div class="col">
            <div class="info-box">
                <br>
                <h2> Already have an account? </h2>
                <br>
                <a class="btn btn-outline-dark btn-lg" href="{% url 'users-login' %}">Sign In</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
